.row.filters
  .col-xs-4
    =link_to 'Shipped', inventories_path('shipped': 'shipped', 'warehouse': params[:warehouse]), class: btn_classes(:shipped, 'shipped')
    =link_to 'Not Shipped', inventories_path('shipped': 'not_shipped', 'warehouse': params[:warehouse]), class: btn_classes(:shipped, 'not_shipped')
    =link_to 'All', inventories_path(warehouse: params[:warehouse]), class: 'btn btn-default', class: btn_classes(:shipped)
  .col-xs-4
    =link_to 'Phoenix', inventories_path('warehouse': 'phoenix', 'shipped': params[:shipped]), class: btn_classes(:warehouse, 'phoenix')
    =link_to 'Detroit', inventories_path('warehouse': 'detroit', 'shipped': params[:shipped]), class: btn_classes(:warehouse, 'detroit')
    =link_to 'All', inventories_path('shipped': params[:shipped]), class: btn_classes(:warehouse)
  .col-xs-4
    =link_to 'Clear Filters', inventories_path, class: btn_classes
%hr
%hr
